.container-chip{
  width: 80px;
  height: 20px;  
background: #FAFAFA;
box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
border-radius: 10px;
margin: 5px 0;
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
border-radius: 10px;
}

.container-chip:hover{
opacity: 0.5;
}

.container-chip span{
    font-family: 'Rubik' sans-serif;
font-style: normal;
font-weight: normal;
font-size: 10px;
display: flex;
align-items: center;
color: #000000;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.icon-chip{
margin-right: 8px;
height: 8px;
width: 8px;
}

.selected-chip{
    background: #7B61FF;
box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}